<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
<!-- Start Main container -->
<div id="main_container">
    <form #changepassword="ngForm" (ngSubmit)="submitForm()" id="wrapped">
        <div id="login-main">
            <h3>Change your password.</h3>
            <p>Please enter you password below to change it.</p>
            <div class="row">
                <div class="col-md-12">
                    <ul class="data-list">
                        <li>
                            <input type="password" [(ngModel)]="changePassword.OldPassword" name="oldpassword" class="required form-control"
                                placeholder="Old Password" [ngModelOptions]="{standalone: true}">
                        </li>
                        <li>
                            <input type="password" [(ngModel)]="changePassword.NewPassword" name="newpassword" class="required form-control"
                                placeholder="New Password" [ngModelOptions]="{standalone: true}">
                        </li>
                        <li>
                            <input type="password" [(ngModel)]="changePassword.ConfirmPassword" name="confirmpassword"
                                class="required form-control" placeholder="Confirm Password" [ngModelOptions]="{standalone: true}">
                        </li>
                    </ul>

                </div>
                <!-- end col-md-6 -->
                <div class="col-md-12">
                    <button type="submit" title="Change Password" (click)="submitForm()" tabindex="-1" class="btn-block myButton"
                        [disabled]="loading || !changePassword.OldPassword || !changePassword.NewPassword || !changePassword.ConfirmPassword || (changePassword.NewPassword != changePassword.ConfirmPassword)">
                        Change Password
                    </button>
                </div>

            </div>
            <!-- end row -->

        </div>
        <!-- end middle-wizard -->
    </form>

</div>
<!-- end Main container -->