
<!-- Start Main container -->
<div id="main_container">
    
    <form name="example-1" id="wrapped">
      <div id="login-main">
        <h3>Password Reset</h3>
        <p>We'll email you instructions on how to reset your password.</p>
          <div class="row">
            
            <div class="col-md-12">
              <ul class="data-list">
                <li><input type="text" name="username" class="required form-control" placeholder="Your Email"></li>                
              </ul>
              
            </div><!-- end col-md-6 -->
            <div class="col-md-12">
                <a href="#" title="Sign In" class="btn btn-primary btn-block button_full">Reset Password</a>
            </div>
            &nbsp;
            <div class="col-md-12">
              <a [routerLink]="['/login/sign-in']">
                <i class="fa fa-angle-double-left"></i>
                     Back to login
                
                </a>
            </div>
            
          </div><!-- end row --> 
              
      </div><!-- end middle-wizard -->      
    </form>
      
  </div><!-- end main container -->