<div class="container">
  <div class="homespacer"></div>
  <div class="row">
    <div class="col-md-12">
      <div class="portlet">
        <h4 class="portlet-title">
          <u>FAQs</u>
        </h4>
        <div class="portlet-body">
          <h5>Today Stats</h5>
          <p>It's your daily Traffic Stat when ever you will Visit others Website your hits will be counted and you'll
            get the same real
            time traffic on your website.
            It works on given and receive method.</p>
          <h5>Recently History</h5>
          <p>These are the recently visited links. If you moved from this page your visited history will be removed but
            you can always
            check them on your browser history.
            If you get any link inappropriate report about it.</p>
          <h5>After Clicking Earn Traffic Mini Window</h5>
          <p>A Mini tab will open and display websites of our other members.
            Turn off or down you Volume
            If you find any inappropriate content report it when you finished.</p>
          <h5>Before start Surf</h5>
          <p>You are going to earn some real time traffic
            So lets our system do its job
            Differnet Urls will be Hited here.</p>
          <h5>
            (So leave This Tab Open)
          </h5>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>